<div class="top-container">
    <ul style="list-style-type: none; padding: 0;">
    @for (category of userData$ | async | keyvalue; track category.key) {
        
        <li style="margin-bottom: 10px; border: 1px solid #ccc; padding: 10px;">
        <strong>{{ category.key }}</strong>:

        @if (category.value && typeof category.value === 'object') {
            <br>
            <!-- <span style="font-weight: bold; margin-left: 15px;">- 파일 목록:</span> -->
            <ul style="list-style-type: disc; margin-left: 10px;">
            
            @for (file of (category.value | keyvalue); track file.key) {
                <li class="file-item-grouping">
                    <div class="left-content">
                    </div>
                    <div>
                        {{ file.key }}: 
                        <span style="font-style: italic;">{{ file.value }}</span>
                    </div>

                </li>
            }
            </ul>
            
        } @else {
            <span> ( 파일이 정의되지 않았습니다. )</span>
        }
        </li>

    } @empty {
        <li>로딩 중이거나 표시할 데이터가 없습니다.</li>
    }
    </ul>
</div>


<!-- <p *ngIf="!(userData$ | async)">데이터 로드 중...</p> -->

@if (userData$ | async; as data) {
    <pre style="visibility:hidden;">{{ data | json }}</pre>
}